*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}
body{
    /* background-color: MistyRose; */
}
header{
    width: 100%;
    height: 60px;
	position: fixed;
	background-color: black;
	margin: 0 atuo;
	z-index: 100;
}
header .center .head_logo img{
    width: 60px;
    height: 60px;
    margin-left: 111px;
}
header .center .head_nav{
    float:right;
}
header .center .head_nav a{
    float: left;
    margin-top:12px;
    margin-left: 50px;
    height: 60px;
    text-align: center;
    color: white;
    font-family: FZShuTi;
    font-size: 25px;
}
.banner .a{
    width: 100%;
	/* height: 650px; */
	margin: 0 atuo;
}
.banner .b{
  position: absolute;
  margin-top: -600px;
  margin-left: 600px;
}
.center .mainLeft .listBox {
    position: relative;
    width: 600px;
    height: 240px;
    box-shadow: 0px 0px 20px red inset;
    margin-left: 150px;
    margin-top: 50px;
    background-color: white;
    border-radius: 40px;
}
.center .mainLeft .listBox h1{
    font-family:STXingkai;
    font-size: 40px;
    color: black;
    margin: 20px;
}
.center .mainLeft .listBox p,span{
    color: black;
    font-family: STZhongsong;
    font-size: 20px;
    margin: 20px;

}
.center .mainLeft  .listBox .function a{
    color: brown;
    font-family: STLiti;
    font-size: 26px;
    margin: 20px;
    text-decoration: underline;
}
.center .bottom  .clear {
    width: 600px;
    height: 80px;
    border: 3px  #cccccc solid;
    margin-left: 150px;
    margin-top: 50px;
    border-radius: 15px;
    font-family: STZhongsong;

}
.center .bottom  .clear .previous{
    float: left;
    margin-top: -10px;
}
.center .bottom .clear li,a,strong{
    color: black;
    margin-top: 30px;
}
.center .bottom  .clear .next{
    float: right;
    margin-top: -20px;
}
.center .bottom  .clear li strong{
margin-left: 200px;
}
.user_list{
    position: relative;
    margin-left: 800px;
}
.user_list .rightBox{
    float: right;
    width: 400px;
    height: 280px;
    margin-top:-350px;
    margin-right: 100px;
 border-radius: 20px;
 font-family: STLiti;
}
.user_list .rightBox .title {
 background-color: aqua;
 height: 50px;
 border-radius: 10px;
    font-family: STZhongsong;
 font-family: STLiti;

}
.user_list .rightBox .title span{
    font-size: 35px;
    font-family: STLiti;
}
.user_list .rightBox .textRight{
background-color: aqua;
width: 400px;
 height: 50px;
 border-radius: 10px;
 color: black;
 font-size: 20px;
 text-align: center;
}
.user_list .rightBox .colWarning{
    color: black;
    font-size: 24px;
line-height: 45px;
font-family: STLiti;

}
.user_list .rightBox div .colDark{
font-size: 20px;
line-height: 30px;
font-family: STLiti;

}
.user_list .rightBox #logout{
    font-size: 22px;
    font-family:  STLiti;
    color: black;
    margin-top: 15px;
}
.user_list .rightBox div button{
    font-size: 22px;
color: black;
font-family: STLiti;
}
.user_list .rightBox input{
 color: black;
}
aside .friendly_link{
    color: black;
    width: 400px;
    height: 100px;
    border: 1px solid brown;
    position: relative;
    float: right;
    margin-top:-100px;
    margin-right: 100px;
 border-radius: 20px;
 

}
aside .friendly_link span{
    font-family: STLiti;
    font-size: 25px;
}
aside .friendly_link .link_item a{
    font-family: STLiti;
    font-size: 20px;
    margin-left: 30px;
    color: brown;
}